# Object Storage
AWS_ACCESS_KEY_ID=<minio service username>
AWS_SECRET_ACCESS_KEY=<minio service password>
AWS_S3_BUCKET=data
MINIO_IMAGE=quay.io/minio/minio:latest

# Git Repository
GIT_USERNAME=<Git Username>
GIT_TOKEN=<Git Personal Access Token>
GIT_REPO=<Git repo>
GIT_BRANCH=<Git branch>
GIT_REPO_LIST=workflows/examples/code_understanding/assets/repos/repo_list.json

# Agent LLMs
GRAPHRAG_LLM_TOKEN=<graphrag llm token>
GRAPHRAG_LLM_ID=<graphrag llm model name>
GRAPHRAG_LLM_API_BASE=<graphrag llm api base>
GRAPHRAG_LLM_PROVIDER=<graphrag llm provider>
GRAPHRAG_LLM_PROVIDER_SETTINGS_XML=<graphrag llm provider for settings.xml config>
EMBED_LLM_TOKEN=<embed llm token>
EMBED_LLM_API_BASE=<embed llm api base>
EMBED_LLM_ID=<embed llm id>
EMBED_LLM_PROVIDER=<embed llm provider>
EMBED_LLM_PROVIDER_SETTINGS_XML=<embed llm provider for settings.xml config>
GROUND_TRUTH_LLM_TOKEN=<ground truth llm token>
GROUND_TRUTH_LLM_ID=<ground truth llm model name>
GROUND_TRUTH_LLM_API_BASE=<ground truth llm api base>
GROUND_TRUTH_LLM_PROVIDER=<ground truth llm provider>
GROUND_TRUTH_LLM_THINKING=<whether thinking mode exists and is enabled>
JUDGE_LLM_TOKEN=<judge llm token>
JUDGE_LLM_ID=<judge llm model name>
JUDGE_LLM_API_BASE=<judge llm api base>
JUDGE_LLM_PROVIDER=<judge llm provider>
JUDGE_LLM_THINKING=<whether thinking mode exists and is enabled>
CODE_LLM_TOKEN=<code llm token>
CODE_LLM_API_BASE=<code llm api base>
CODE_LLM_ID=<code llm provider>
CODE_LLM_PROVIDER=<code llm provider>

# Kubeflow Pipelines
KFP_NAMESPACE=<name of data science project>
KFP_DATA_GENERATION_OUTPUT_PATH=target
KFP_DATA_INDEXING_OUTPUT_PATH=graphrag-source

KFP_IMAGE_REGISTRY=<registry host and username>
KFP_DATA_GENERATION_BASE_IMAGE_NAME=data-generation
KFP_DATA_GENERATION_BASE_IMAGE_TAG=<data generation image version>
KFP_INDEXING_BASE_IMAGE_NAME=data-indexing
KFP_INDEXING_BASE_IMAGE_TAG=<data indexing image version>
KFP_ANALYSIS_BASE_IMAGE_NAME=data-analysis
KFP_ANALYSIS_BASE_IMAGE_TAG=<data analysis image version>
KFP_PIPELINE_TOOLS_IMAGE_NAME=pipeline-tools
KFP_PIPELINE_TOOLS_IMAGE_TAG=<pipeline tools image version>

# Console images
CONSOLE_APP_IMAGE_NAME=agent-mesh-for-sw-modernization-console-app
CONSOLE_PLUGIN_IMAGE_NAME=agent-mesh-for-sw-modernization-console-plugin
CONSOLE_IMAGE_TAG=<console image version>

# Mlflow
MLFLOW_TRACKING_URI=https://mlflow.redhat-ods-applications.svc.cluster.local:8443
MLFLOW_TRACKING_INSECURE_TLS=true
MLFLOW_TRACKING_AUTH=kubernetes-namespaced

# Asset Loader
ASSET_LOADER=<local or mlflow>
INSTALL_PREBUILT_INDEX=false

# Evaluation
CUSTOM_EVALUATOR=<basic or mlflow>

# Logging
LOGLEVEL=info

# OpenTelemetry (requires Red Hat build of OpenTelemetry and Tempo operators)
# (To use gRPC, set OTEL_EXPORTER=otlp_grpc and change the endpoint appropriately.)
OTEL_SERVICE_NAME=code-understanding
OTEL_NAMESPACE=<name of opentelemetry namespace>
OTEL_EXPORTER_OTLP_ENDPOINT=http://code-understanding-collector.<name of opentelemetry namespace>.svc.cluster.local:4318
OTEL_EXPORTER=otlp_http
MLFLOW_TRACE_ENABLE_OTLP_DUAL_EXPORT=true
OTEL_SEMCONV_STABILITY_OPT_IN=genai
