# GraphRAG LLM - used for entity extraction and community report generation during indexing
GRAPHRAG_LLM_TOKEN=<graphrag llm api token>
GRAPHRAG_LLM_ID=<graphrag llm model name>
GRAPHRAG_LLM_API_BASE=<graphrag llm api base url>
GRAPHRAG_LLM_PROVIDER=<graphrag llm provider e.g. openai>
GRAPHRAG_LLM_PROVIDER_GRAPHRAG=<graphrag llm provider as used by graphrag e.g. openai_chat>

# Embedding LLM - used for generating vector embeddings during indexing
EMBED_LLM_TOKEN=<embedding llm api token>
EMBED_LLM_API_BASE=<embedding llm api base url>
EMBED_LLM_ID=<embedding llm model name>
EMBED_LLM_PROVIDER=<embedding llm provider e.g. openai>
EMBED_LLM_PROVIDER_GRAPHRAG=<embedding llm provider as used by graphrag e.g. openai_embedding>
