openai
pynvml==12.0.0
ollama==0.5.1
easygui==0.98.3
pypandoc_binary==1.15
pysqlite3-binary==0.5.4
ruamel_yaml==0.18.14
lance==1.2.1
keybert==0.9.0
rake-spacy==0.3.1
lancedb==0.25.2
graphrag==2.6.0
datasets==4.4.1
jsonpath_ng==1.7.0
validators==0.35.0
pypdfium2==4.30.0
datasets==4.4.1
gitingest==0.3.1
tree-sitter==0.25.2
tree-sitter-python==0.25.0
pyvis==0.3.2